---
layout: single
title:
permalink: /teaching/
author_profile: false 
---

<div class="grid__wrapper">
    <!-- {% for post in site.portfolio %}
    {% include archive-single.html type="grid" %}
  {% endfor %} -->
</div>

<div>
    <h2>DMD 100: Digital Multimedia Design Foundations</h2>
    <h3>Description:</h3>
    <p>DMD 100: Digital Multimedia Design Foundations introduces design process and thinking skills to support and facilitate creative and reasoned approaches to ambiguous and ill-defined problem spaces. It introduces concepts, skills, language, and principles of practice related to art and design, communications, and information sciences — three discreet disciplines in which students can pursue further study while developing their learning pathways. With the aid of a standard design process, we walk through methods, tools, and mental attitudes necessary to approach ambiguous problems. This course is not meant to be a comprehensive design process catalog, and instead should inspire and build confidence in the act of design. The concept of "design" for DMD students is a frame through which complex issues can be discovered and defined and solutions can be best developed and delivered.</p>
    <h3>Semester:</h3>
    <p>
        <br>Spring 2018
        <br>Fall 2017
        <br>Summer 2017
    </p>
    <h2>Art 314: 3D Modeling, Rendering, Animation</h2>
    <h3>Description:</h3>
    <p>This course is an in-residence digital studio course where students pursue their individual interests in the 3D digital medium. There are a series of exercises to acquaint students with tools such as Autodesk Maya, Adobe AfterEffects, Adobe Premiere, and Pixologic Z-Brush. I designed the course to be a multi-tracked tracked course, enabling students to choose exercises that align with their interests and skill level. Students interested specifically in 3D animation tend to take the course multiple times, moving up to the advanced tracks built into the course. For their final projects, students produce a 15 - 30 second animation and accompanying artist statement.</p>
    <h3>Semester:</h3>
    <p>
        <br>Spring 2018 -&nbsp;
        <a target="_blank" href="https://github.com/michael-collins/3d-modeling-rendering-animation-sp18--oer">Course Website</a>&nbsp;
        <br>Spring 2016 -&nbsp;
        <a target="_blank" href="http://michael-collins.github.io/3d-digital-art-and-design--oer">Course Website</a>
        Spring 2014 -&nbsp;
        <a target="_blank" href="http://lore.com/art314-spring2014/">Course Website</a>&nbsp;(Now offline)
        <br>Fall 2013 -&nbsp;
        <a target="_blank" href="http://lore.com/art314-fall2013/">Course Website</a>&nbsp;(Now offline)
        <br>Spring 2013 -&nbsp;
        <a target="_blank" href="http://lore.com/art314-spring2013/">Course Website</a>&nbsp;(Now offline)
        <br>Fall 2012 -&nbsp;
        <a target="_blank" href="http://lore.com/art314-fall2012/">Course Website</a>&nbsp;(Now offline)
        <br>Spring 2012
        <br>Fall 2011
    </p>
    <h3>Guest Speakers:</h3>
    <p>Guest speakers have included Hair and Lighting Specialists,&nbsp;Character Animators,&nbsp;Game Designers,&nbsp;Technical
        Leads from a variety of companies including Sony Imageworks,&nbsp;BlueSky,&nbsp;Valve Software,&nbsp;DreamWorks
        Animation,&nbsp;Microsoft Games Canada,&nbsp;Mainframe Entertainment,&nbsp;Relic Entertainment</p>
    <p>&nbsp;</p>
    <h2>Art 497D: 3D Digital Arts II</h2>
    <p>I designed this special topics course for students with advanced knowledge of 3D tools to produce work at an advanced
        level, in both quality of craft as-well-as conceptual inquiry. Students are exposed to Maxon Cinema 4D and are
        expected to self-learn needed technical skills to achieve the goals of their work.</p>
    <h3>Semester:</h3>
    <p>Spring 2014
        <br>Fall 2013</p>
    <p>&nbsp;</p>
    <h2>Art 203: Art of Web Design (online)</h2>
    <p>This online course introduces students to the basics of HTML, CSS, and graphics production for the web. Students
        enrolled in this course learn to design and code websites from the ground up utilizing Adobe Photoshop and Dreamweaver
        software tools and are exposed to principals including interface design,&nbsp;layout, and content flow.</p>
    <h3>Semester:</h3>
        <p>Spring 2011</p>
</div>
