---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin

/* ==========================================================================
   skin overrides
   ========================================================================== */

/* Colors */
$background-color: #f7f7f7 !default;
$text-color: #000 !default;
$muted-text-color: #444 !default;
$primary-color: #ff0000 !default;
$border-color: mix(#fff, $text-color, 75%) !default;
$footer-background-color: #444 !default;
$link-color: #2dabff !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;


/* system typefaces */
$serif                        : "Playfair Display", Georgia, Times, serif !default;
$sans-serif                   : "Work Sans", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
$monospace                    : "Source Code Pro", Monaco, Consolas, "Lucida Console", monospace !default; //400,700

/* sans serif typefaces */
$sans-serif-narrow            : $sans-serif !default;
$helvetica                    : Helvetica, "Helvetica Neue", Arial, sans-serif !default;
$work-sans                     : "Work Sans", sans-serif !default; //400, 700

/* serif typefaces */
$georgia                      : Georgia, serif !default;
$times                        : Times, serif !default;
$bodoni                       : "Bodoni MT", serif !default;
$calisto                      : "Calisto MT", serif !default;
$garamond                     : Garamond, serif !default;
$playfair-display             : "Playfair Display", serif !default;

$global-font-family           : $monospace  !default;
$header-font-family           : $serif  !default;
$caption-font-family          : $sans-serif  !default;

/* type scale */
$type-size-1                  : 2.441em !default;  // ~39.056px
$type-size-2                  : 1.953em !default;  // ~31.248px
$type-size-3                  : 1.563em !default;  // ~25.008px
$type-size-4                  : 1.25em !default;   // ~20px
$type-size-5                  : 1em !default;      // ~16px
$type-size-6                  : 0.75em !default;   // ~12px
$type-size-7                  : 0.6875em !default; // ~11px
$type-size-8                  : 0.625em !default;  // ~10px

/* ========================================================================== */
@import "minimal-mistakes"; // main partials
/* ========================================================================== */

/* Custom CSS */
$header-background-color:#333;
$header-link-color:#efefef;
$portfolio-background-color: #424242;
$portfolio-header-color: #424242;
$portfolio-link-color: #9bc1cb;
.page__content {
  .notice,
  .notice--primary,
  .notice--info,
  .notice--warning,
  .notice--success,
  .notice--danger {
    color: $text-color;
  }
}

// utilities
.bw-contrast-1 {
    -webkit-filter: contrast(1.9) grayscale(1);
    filter: contrast(1.9) grayscale(1);
  }

// end Utility

.page__footer {
  color: #fff !important; // override
}
.page__footer-follow .social-icons .fa {
  color: inherit;
}
h1 {
    font-size: 3em;
}
h2 {
    font-family: $monospace;
}
h3 {
    font-family: $monospace;
    font-weight:700;
    text-transform: uppercase;
    color: #000000;
}
// All pages
.page__title {
    margin-top: 1em;
}
.masthead {
    border:none;
}
.front .contrasty {
    filter: contrast(2) saturate(0) opacity(0.8);
    -webkit-filter: contrast(2) saturate(0) opacity(0.8);
}
.greedy-nav, .masthead {
    background-color: $header-background-color;
    a {
        color: $header-link-color;
    }
    a:hover {
        color: mix(#333, $header-link-color , 30%);
    }
}
.curriculum-theme .greedy-nav, .curriculum-theme .masthead {
    background-color: #000;
    a {
        color: $header-link-color;
    }
    a:hover {
        color: mix(#333, $header-link-color , 30%);
    }
}
.portfolio-theme .greedy-nav, .portfolio-theme .masthead {
        background-color: $portfolio-header-color;
        a {
            color: $portfolio-link-color;
        }
    }
.greedy-nav a.site-title {
    text-transform: uppercase;
    border: 5px solid white;
    padding: 0.5rem 0.5rem;
}
// Front
body.front .page__hero--overlay {
    min-height: 25em;
}
// Portfolio
body.portfolio-theme {
    background-color: $portfolio-background-color;
    a, a:visited {
        color:$portfolio-link-color;
    }
    a:hover {
        color:white;
    }
    .portfolio-year {
        font-weight: 400;
        font-size: $type-size-4;
        border-top: 3px solid #fff;
        border-bottom: 1px solid #fff;
        display: block;
        margin-bottom: 1em;
        color: #fff;
    }
    .page__inner-wrap h1 {
        color: #fff;
    }
    
    .page__inner-wrap p,
    .page__inner-wrap {
        color: #8a8a8a;
    }
    
    .page__inner-wrap h2,
    .page__inner-wrap h3,
    .page__inner-wrap h4 {
        color: #e0e0e0;
    }

    .page__meta {
        p {
            color: $portfolio-link-color;
        }
        a:visited {
            color: $portfolio-link-color;
        }
        a:hover, a:active {
            color: #fff;
        }
    }
    .page__footer {
        margin-top:0;
        color: #8a8a8a;
        background-color: $portfolio-background-color;
    }
    nav.pagination {
        border-top:0;
        a:visited, a:active {
            color: $portfolio-background-color;
        }
        a:hover {
            color: #fff;
        }
        a.disabled {
            color:#8aacb4;
        }
    }
    .pagination--pager {
        border: 1px solid $portfolio-background-color;
        background: $portfolio-link-color;
    }
    .masthead {
        border-bottom: 0px solid #333;
    }
}
// portfolio archive page
@media (min-width: 64em) {
    .archive {
        float: right;
        width: calc(100% - 200px);
        padding-right: 200px;
    }
}
// @media (min-width: 48em) {
//     .grid__item .archive__item-teaser:hover {
//         max-height: 140px;
//     }
//     .grid__item .archive__item-teaser {
//         max-height: 100px;
//     }
// }
.layout--archive {
    h1.page__title {
        font-size: 4em;
    }
    h3 {
        border-top: 6px solid #333;
        // border-bottom:3px solid #333;
        clear: both;
        padding: 0em 0 1em 0;
    }
    .archive {
        // width: 100%;
        // padding-right: 0;
        // float: left;
    }
    .archive a {
        text-transform: uppercase;
        font-weight: 400;
    }
    .archive__item-excerpt {
        margin-top: 0;
        font-size: .65em;
        color: #6D4C41;
    }
    .archive .grid__wrapper {
        margin-right:0;
    }
    .grid__item {
        // clear: none;
        margin-bottom: 1em;
    }
    .grid__item:nth-child(4n+1) {
        clear: both;
    }
    .grid__wrapper {
        clear: both;
        float: left;
        // padding:1em;
    }
}

// Curriculum
.curriculum-theme .page__hero--overlay {
    filter: contrast(500%);
}

// mobile menu
.greedy-nav button {
    color: #fff;
    background-color: $primary-color;
}
.greedy-nav .hidden-links {
    border: 1px solid $primary-color;
    background: $primary-color;

    &:before {
        border-color: $primary-color transparent;
    }
    &:after {
        border-color: $primary-color transparent;
    }
    
    a {
        color: white;
        padding: 0.5rem;
    }
    a:hover {
        color:black;
        background:transparent;
    }
    li {
        display: block;
        border-bottom: 1px solid #ff6559;
    }
}